.title{
    margin-bottom: 2rem;
}
.lista_res{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.item{
    overflow: auto;
    margin-bottom:3rem;
}
.lst_img{
    float: left;
    width: 125px;
}
.lst_img img{
    
    width: 200px;
    height: auto;    
}
.lst_descripcion{
    
    margin-left: 8rem;
    float: left;
    width: 50%;
}
.lst_descripcion-title{
    font-size: 2em;
}
.lst_descripcion-precio{
    font-size: 1.5em;
}
.btn-rest{
    color: #fff;    
    text-decoration: none;
    
    background-color: #F6441D;
    border-radius: 5px;
    margin-top: 6px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    padding: 3px;
}

.combobox{
    width: 200px;
    height: 300px;
}